<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl" data-capo="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block subject %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '_nuxt/entry.kCcLxV0Q.css' %}">
    <link rel="stylesheet" href="{% static '_nuxt/swiper-vue.CJDJU8ss.css' %}">
    <link rel="stylesheet" href="{% static '_nuxt/vcalendar.CxYGDfPL.css' %}">
    <link rel="stylesheet" href="{% static '_nuxt/AddonApexcharts.Bn7CaJtJ.css' %}">
    <link rel="stylesheet" href="{% static '_nuxt/BaseThemeToggle.BlC-ZT_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <script src="{% static 'js/alert.js' %}"></script>
    <link rel="preload" as="fetch" crossorigin="anonymous"
          href="/dashboards/personal-3/_payload.js'%}on?ec9c92e8-c62e-457b-b13f-239d7d3a6f0f">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BcqZkZus.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CY3_MmXQ.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CU2LVG7r.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/B5PW10KA.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/DRLkps09.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/llmWmC7p.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CXzJjQ9H.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/Wt2hLwoc.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/dwfrNC3U.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BrycpA6t.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BfRUtubf.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/_KSzNf_w.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/B4OZr8bS.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/DpfT5I4J.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/bi14rltw.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/C_HXzHsg.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/C3MAjp-z.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/B3PT0ydx.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/DY2N-qsS.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/FKlyPvzo.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/B2dh-q9b.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/DGZdGZtI.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BkWRRRdV.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/sRTINThM.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CUE2jl9-.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/U24w4CXD.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CMptvAO3.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/_KafWYMp.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/CPDzWWTK.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BJpav_WL.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/D_eiZ7Rf.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/FmhIeZ5G.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BOumcEWA.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/B8edN-ZV.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/nY9nt_rj.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/BZJitvOR.js' %}">
    <link rel="modulepreload" as="script" crossorigin href="{% static '_nuxt/DRef4jY2.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/DtUR74Hu.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/CLrbxUcn.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/CFcR6bGz.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/C5pNpK0M.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/up2oNogu.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/CcuGqx1i.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/DSxGIjy_.js' %}">
    <link rel="prefetch" as="script" crossorigin href="{% static '_nuxt/F6Cw1Rnw.js' %}">
    <script type="module" src="{% static '_nuxt/BcqZkZus.js' %}" crossorigin></script>
</head>
<body><!---->
<div role="button" tabindex="0"
     class="opacity-0 pointer-events-none bg-muted-800/60 fixed start-0 top-0 z-[99] size-full cursor-pointer transition-opacity duration-300"></div>
<!--teleport anchor-->
<div id="__nuxt">
    <div>


        <main>
            {% block main %}
            {% endblock %}
        </main>

    </div>
</div>
<div id="teleports"></div>

</body>
</html>