<!DOCTYPE html>
{% extends 'home/base.html' %}

{% block subject %}تنظیمات{% endblock %}
{% block title %}تنظیمات / نام غذا{% endblock %}

{% load static %}
{% load widget_tweaks %}
{% load jalali_tags %}

{% block main %}
<div>
    <div class="w-full">
        <div>
            <form method="POST" action="" class="">
                {% csrf_token %}
                <div class="space-y-8">
                    <div class="mx-auto flex w-full max-w-2xl flex-col">
                        <div>
                            <div>
                                <div class="space-y-12">
                                    <!-- عنوان فرم -->
                                    <fieldset class="relative">
                                       <legend class="mb-6">
    <p class="nui-heading nui-heading-md nui-weight-medium nui-lead-none" tag="h3">
        مشخصات غذا
    </p>
    <span class="nui-text nui-content-xs nui-weight-normal nui-lead-normal text-muted-400">
        لطفاً اطلاعات مربوط به غذا (نام  را وارد کنید.
    </span>
</legend>


                                        <!-- فیلد نام -->
                                        <div class="grid grid-cols-12 gap-4">
                                            <div class="col-span-12">
                                                <div class="nui-input-wrapper nui-input-default nui-input-md nui-input-rounded-sm nui-has-icon">
                                                    {{ form.name.label_tag }}
                                                    <div class="nui-input-outer">
                                                        {{ form.name|add_class:"nui-input" }}
                                                        {% if form.name.errors %}
                                                            <div class="text-danger">
                                                                {{ form.name.errors|join:", " }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                      
                                    </fieldset>

                                    <!-- دکمه‌های ذخیره و لغو -->
                                    <div class="mt-5 flex flex-col-reverse text-end md:block md:space-x-3 md:space-x-reverse">
{#                                        <a href="{% url 'food_list' %}"#}
{#                                           class="nui-button nui-button-lg nui-button-rounded-md nui-button-solid nui-button-muted w-full sm:w-44">#}
{#                                            لغو#}
{#                                        </a>#}
                                        <button type="submit"
                                                class="nui-button nui-button-lg nui-button-rounded-md nui-button-solid nui-button-primary w-full sm:w-44">
                                            ذخیره
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
